/* ====================== Stule Guide (colors) ====================== */

/* ====================== Оголошуємо змінні CSS ====================== */
:root {
    --primary-brand-color: #4D5AE5;
    --pressed-state-color: #404BBF;
    --hero-text-color: #ffffff;
    --dark-color: #2E2F42;
    --success-color: #31D0AA;
    --text-color: #434455;
    --subtle-text-color: #8E8F99;
    --accent-color: #E7E9FC;
    --light-colors: #F4F4FD;
    /* --modal-overlay-colors: background: rgba(46, 47, 66, 0.4); */
    /* --hero-background-color: background: rgba(46, 47, 66, 0.7); */
}


/* ====================== Text Guide ====================== */

/* Global main paramrters for text */
.main-text-style 
{
    font-style: normal;
    letter-spacing: 0.02em;
    /* color: var(--dark-color); */
    }

/* H1 style */
.title-first 
{
    
    font-weight: 700;
    font-size: 56px;
    /* line-height: 60px; */
    line-height: 1.15;    
    color: var(--hero-text-color);
}

/* H2 style */
.title-second
{
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize; 
    color: var(--dark-color);
}

/* H3 style */
.title-third
{
    font-weight: 500;
    font-size: 20px;
    /* line-height: 24px; */
    line-height: 1.2;
    color: var(--dark-color);
}

/* Body text style */
.small-text
{
    font-weight: 400;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    color: var(--text-color);
}

/* Body text style */
.medium-text
{
    font-weight: 500;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    color: var(--dark-color);
}

/* Adress text 
.adress-text
{
    font-weight: 400;
    font-size: 16px;
    
    line-height: 1.5;
    color: var(--text-color);
} */


/* Footer text */
.footer-text
{
    font-weight: 400;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    color: var(--accent-color);
}

/* Small text style 
.smal-text-second
{
    font-weight: 400;
    font-size: 12px;
   
    line-height: 1.33;
    

    
    align-items: center;
    letter-spacing: 0.04em; 
}
*/

/* Button text style */
.button-text
{
    font-weight: 500;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    /* identical to box height, or 150% */

    /* display: flex; */
    /* align-items: center; */
    letter-spacing: 0.04em; 
    color: var(--dark-color);
}

/* Hero-button text style */
.hero-button
{
    font-weight: 500;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    /* identical to box height, or 150% */

    /* display: flex; */
    /* align-items: center; */
    letter-spacing: 0.04em; 
    color: var(--hero-text-color);
    background-color: var(--primary-brand-color);
}
/* ====================== logo ====================== */
.logo-web
{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    /* line-height: 24px; */
    line-height: 1.33;
    /* identical to box height, or 133% */

    /* display: flex; */
    /* align-items: center; */
    /* letter-spacing: 0.03em; */
    /* text-transform: uppercase; */
    color: var(--primary-brand-color); 
}

.logo-studio-h
{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    /* line-height: 24px; */
    line-height: 1.33;
    /* identical to box height, or 133% */

    /* display: flex; */
    /* align-items: center; */
    /* letter-spacing: 0.03em; */
    /* text-transform: uppercase; */
    color: var(--dark-color);
}

.logo-studio-f
{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    /* line-height: 24px; */
    line-height: 1.33;
    /* identical to box height, or 133% */

    /* display: flex; */
    /* align-items: center; */
    /* letter-spacing: 0.03em; */
    /* text-transform: uppercase; */
    color: var(--light-colors);
}
/* ====================== Global text styles ====================== */
.page
{
    
    font-family: 'roboto', sans-serif;
}

/* ====================== Colors ====================== */
/* Page header style */
.bg-color-h-f
{
    background-color: var(--dark-color);
}

/* BG section Our Team */
.our-team-colors-bg
{
    background-color: var(--light-colors);
}
/* ul 
{
    list-style: none;
} */

/* ====================== Link ====================== */
/* Link style */
.link
{
    font-style: normal;
    text-decoration: none;
    list-style: none;
}
/* ====================== Navigation ====================== */

.site-nav .link:hover,
.site-nav .link:focus 
{
    color: var(--titel-text-color);
}

/* A highlighted link to the active page */
.site-nav .carrent
{
    color: green;
}
